{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} {{ Settings }} {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="min_sup">Minimum Support</label>
        <input type="text" name="min_sup"
               class="form-control"
               value="{{ request.form['min_sup'] or min_sup }}">
        </input>
    </div>

    <div class="form-group">
        <label for="token">InstToken</label>
        <input type="text" name="token"
               class="form-control"
               value="{{ request.form['token'] or token }}">
        </input>
    </div>
    
    <div class="form-group">
        <label for="key">API Key</label>
        <input type="text" name="key"
               class="form-control"
               value="{{ request.form['key'] or key }}">
        </input>
    </div>

    
    <div class="form-group">
        <button type="submit" name="button" value="save" class="btn btn-primary">Save Changes</button>
    </div>
</form>
<hr>

{% endblock %}
